[profile.default]
src = "src"
out = "out"
libs = ["lib"]
build_info = true
extra_output = ["storageLayout"]
auto_detect_solc = true
solc = '0.8.28'
evm_version = 'cancun'
optimizer = true
optimizer_runs = 50



[fmt]
bracket_spacing = true
int_types = "long"
line_length = 120
multiline_func_header = "all"
number_underscore = "thousands"
quote_style = "double"
tab_width = 4
wrap_comments = true

[rpc_endpoints]
sepolia = "QUICKNODE_ENDPOINT_URL"

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
